<div>
  <mat-card>
    <mat-card-header class="card big-card">
      <div class="card-title-container">
        <mat-card-title class="card-title">Profile</mat-card-title>
        <br>
        <mat-card-subtitle class="card-subtitle">{{username}}</mat-card-subtitle>
        <br>
      </div>
    </mat-card-header>

    <mat-card-content>
      <!-- your card content here -->
    </mat-card-content>

    <mat-card-actions class="card-actions card ">
      <div class="left-button">
        <button mat-button color="accent" (click)="activateFav()">Favorite Parts</button>
      </div>
      <div class="right-button">
        <button mat-button color="accent" (click)="activateBuilds()">Completed Builds</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<app-fav-products *ngIf="favParts"></app-fav-products>
<app-completed-builds *ngIf="completedBuilds"></app-completed-builds>
