<div>
  <mat-card-header class="card big-card">
    <mat-card-title class="card-title">{{product.name}}</mat-card-title>
  </mat-card-header>
</div>

<div fxLayout="row">
  <div fxFlex="1%"></div>

  <div fxFlex="30%">
    <br>
    <br>
    <mat-card style="width: 300px; height: 250px;">
      <img src="assets/{{product.picture}}" mat-card-image
           [style.width]="'100%'" [style.height]="'100%'">
    </mat-card>
    <br>
    <br>
    <button mat-button (click)="addToFavorite()" class="button-favorite">
      + Save to Favorites
    </button>
  </div>

  <div fxFlex="60%">
    <br>
    <br>
    <div class="product-details">
      <h1 class="product-title">{{product.name}}</h1>
      <mat-chip-option color="primary" selected>{{product.type}}</mat-chip-option>
      <br>
      <br>
      <p class="product-description">{{product.description}}</p>
      <hr>
      <div class="owner-details">
        <h1>Owner Details:</h1>
        <p class="owner-details-item">{{owner.fullName}}</p>
        <p class="owner-details-item">{{owner.emailAddress}}</p>
      </div>
      <h4 class="price">{{product.price}} TND</h4>
    </div>
    <mat-divider></mat-divider>
    <br>
    <hr>
    <br>
    <div fxLayout="row" fxLayoutAlign="right center">
      <div fxFlex="100%">
        <app-comment [productId]="productId"></app-comment>
      </div>
    </div>
  </div>

  <div fxFlex="7%"></div>
</div>

