<p>
  <mat-toolbar class="nav-color-first">
    <mat-toolbar-row>
      <span routerLink="/" class="mat-button-hover">Build<span class="X-color">X</span></span>
      <span class="example-spacer"></span>
      <span class="button-container">
      <button *ngIf="isLoggedIn" mat-button color="white" routerLink="/profile">{{fullName}}</button>
      <button *ngIf="!isLoggedIn" mat-button color="white" (click)="login()">Login</button>
      <button *ngIf="isLoggedIn" mat-button color="white" (click)="logout()">Logout</button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar class="nav-color-second">
    <mat-toolbar-row>
    <span class="button-container">
      <button *ngIf="isLoggedIn" mat-button  routerLink="/build" class="example-icon">
        <mat-icon>build</mat-icon>
        Builder
      </button>
      <button *ngIf="isLoggedIn" mat-button  routerLink="/browse" class="example-icon">
        <mat-icon>memory</mat-icon>
        Browse
      </button>
    </span>
    </mat-toolbar-row>
  </mat-toolbar>


</p>

